.cell {
    border-left: 1px solid var(--white);
    padding: 0 10px;
}

.cell-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.cell-sorted {
  background-color: var(--bg-3);
}

.cell-button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    border: none;
    background: none;
}

.cell-sort-icon {
    margin-left: 5px;
}

